body{
	font-family: 'Work Sans', sans-serif;
	background-color: white;
	color: #333333;
	margin: 0;
	line-height: 1.5;
	font-size: 18px;
}

*{
	box-sizing: border-box;
}

header{
	height: 120px;
	display: flex;
	align-items: center;
}

header nav{
	margin-left: auto;
}

header .logo{
	margin-left: 30px;
	margin-right: 30px;
}

header a{
	text-decoration: none;
}

header nav a{
	font-size: 18px;
	margin: 30px;
	padding-bottom: 4px;
	padding-top: 4px;
	color: #333333;
	position: relative;
}

header nav a:hover, header nav a.active{
	color: #00acec;
	border-bottom: 3px solid #00acec;
}

header h2{
	font-size: 21px;
	font-weight: 500;
	color: #00acec;
}

.notification::before{
	content: '1';
    position: absolute;
    top: -12px;
    right: -26px;
    background-color: #FD3B3B;
    padding: 8px;
    color: white;
    font-size: 16px;
    line-height: 9px;
    text-align: center;
    width: 8px;
    border-radius: 999px;
}


.hero{
	background-color: #00acec;
	overflow: hidden;
	text-align: center;
}

.hero h1{
	margin-top: 100px;
	margin-bottom: 100px;
	color: white;
	font-weight: 500;
	text-shadow: 0px 0px 65px black;
}

.hero.landing{
	background-image: url('../img/talk.jpg');
	background-position: center;
	background-size: cover;
	height: 600px;
}

.hero.landing h1{
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	padding-bottom: 40px;
	padding-top: 40px;
}


a{
	transition: ease all 0.2s;
}

h4{
	font-weight: 600;
    font-size: 21px;
}

strong{
	font-weight: 600;
}

form{
	padding: 30px;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
}

form h4{
	margin-top: 0;
	color: #00acec;
}

input, textarea{
	width: 100%;
	font-size: 18px;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	background-color: #FDFCFC;
}

textarea{
	height: 140px;
}

#saveForm{
	font-size: 18px;
	padding: 10px;
	border-radius: 3px;
	border: none;
	width: 100%;
	text-align: center;
	background-color: #00acec;
	color: white;
	margin-top: 25px;
	cursor: pointer;
	transition: ease all 0.2s;
}

#saveForm:hover{
	background-color: #0177A2;
}

.updates-form{
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
}

.register-interest h4{
	margin-bottom: 0px;
}

.register-interest p{
	margin-top: 0px;
}

.register-interest input, .register-interest textarea{
	margin-top: 10px;
}

.g-70{
	width: 65%;
	float: left;
}

.g-30{
	width: 35%;
	float: left;
	padding-left: 20px;
}

hr{
	border: none;
    background-color: #DADADA;
    height: 1px;
}

.button{
	padding: 20px;
	background-color: #00acec;
	color: white;
	border-radius: 3px;
	text-align: center;
	display: block;
	text-decoration: none;
}

.button:hover{
	background-color: #0582B1;
}


#hype{
	color: white;
    background: rgba(0, 172, 236,0.9);
    padding: 15px;
    text-decoration: none;
    border-radius: 3px;
}

@media only screen and (max-width: 800px)  {
 	.logo{
 		margin: 10px;
 		margin-left: auto !important;
 		margin-right: auto !important;
 		display: block;
 	}

 	header{
 		flex-wrap: wrap;
 		height: auto;
 	}

 	header a:first-child{
 		width: 100%;
 	}

 	header h2{
 		display: none;
 	}

 	header nav a{
 		margin: 20px;
 	}

 	header nav{
 		margin-right: auto;
 		margin-top: 40px;
 		margin-bottom: 20px;
 	}

 	.g-70, .g-30{
 		width: 100% !important;
 		padding: 0px !important;
 	}
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

